{% extends "base.html" %}
{% load staticfiles %}

{% block bodyContent %}
<div id="bodycontent">
	<h1>
		New Workout
	</h1>
    <!--<form action="{% url 'workouts.api.saveWorkout' %}" method="POST">-->
		{{form}}
		<input type="button" value="Submit" onclick="submitData()">
        <!--<input type="submit" value="Submit">-->
	<!--</form>-->

</div>
{% endblock%}

{% block endScripts %}
<script>

	function submitData(){

		var workout_dict = {
			'name': $('#id_name').val(),
		};

		var exercises = [];

		var json_dict = {
            "account": $('#id_account').val(),
            "name": $('#id_name').val(),
            'exercises': $('#id_exercises').val(),
            'csrfmiddlewaretoken': "{{csrf_token}}",
        }

        $.ajax({
            type: "POST",
            url: "{% url 'workouts.api.saveWorkout' %}",
            data: json_dict,
            success: function(data) {
                console.log(data);
                console.log('success! saved workout!')
            },
            error: function(data) {
                console.log(data);
            }
        });
	}


</script>
{% endblock %}